.bear__bg {
    background-image: url(/back-end/images/ours.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
    opacity: 0.85;

    &__banner {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 11em;
        color: darken($color: $color-secondary, $amount: 25%);

        @include mq(large) {
            padding-top: 8em;
        }
    }

    @include mq(large) {
        min-height: 550px;
    }

    @include mq(xlarge) {
        min-height: 850px;
    }
}

.card__quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    &__services {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #ffff;
        width: 90%;
        height: 90px;
        font-size: 80%;
        margin-top: 5%;
        padding: 1%;
        border-radius: 1em/1em;
        box-shadow: 0 4px 6px #d2d2d2;

        @include mq(medium) {
            width: 45%;
            margin-left: 3.5%;
            font-size: 70%;
        }

        &__banner {
            margin-top: 1%;
        }
    }

    @include mq(medium) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.icone {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1.5em;
    padding: 1em;
}

.card__quality__services:nth-child(2) {
    justify-content: center;
    align-items: center;
}

.card__quality__services:nth-child(3) {
    justify-content: center;
    align-items: center;
}
