.title {
    text-align: center;
    border-bottom: 1px solid;
    margin: 0 8% 0 8%;
    font-size: 3rem;
}

.product__title {
    text-align: center;
    font-weight: bold;
}

.empty {
    text-align: center;
    font-weight: bold;
    margin: 5% 0 5% 0;
}